.card-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    
}
.cards{
    text-align: center;
    margin-right: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
}
.cart{
    background-color: yellowgreen;
    margin-right: 20px;
    padding-left: 10px;
}